.queryrowlist .button{
    height: auto;
    padding:$basePadding/4 $basePadding;
}
.query-row{
    display: flex;
    border: $borderStyle;
    border-radius: $borderRadius;
    padding: $basePadding*1.5 $basePadding/2;  
    margin-bottom: $basePadding; 
    justify-content: space-evenly; 

    & > * {
        margin: 0 $basePadding/2;
    }

    & > span {
        height: 17px;
        flex-grow: 1;
        display: inline-flex;
        background-color: $textBg;
        padding: $basePadding/2 $basePadding;  
        border: $borderStyle;
        border-radius: $borderRadius;
    }
    
    & > div{
        height: 32px;
        flex-grow: 1;
        display: inline-flex;
    }
    & input{
        height: 19px;
        width: 100%;
    }
}
.selector.predicate{
  min-width: 500px;
}