.query-row{
    display: flex;
    border: $borderStyle;
    border-radius: $borderRadius;
    padding: $basePadding;  
    margin-bottom: $basePadding; 
    justify-content: space-evenly; 

    & > * {
        margin: 0 $basePadding/2;
    }

    & > span {
        height: 17px;
        flex-grow: 1;
        display: inline-flex;
        background-color: $textBg;
        padding: $basePadding/2 $basePadding;  
        border: $borderStyle;
        border-radius: $borderRadius;
    }
    
    & > div{
        height: 32px;
        flex-grow: 1;
        display: inline-flex;
    }
    & input{
        height: 19px;
        width: 100%;
    }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
