.searchbutton{
    border: none;
    padding-right: 1.5em;

    div{
        display: flex;
        vertical-align: middle;
        align-content: space-around;
    }

    img{
        display: inline;
        margin-right: 5px;
        background-color: blue;
    }
    span{
        display: inline-block;
        background-color: red;
    }
}