.searchbutton{
    border: none;
    padding-right: 1.5em;

    div{
        display: flex;
        vertical-align: middle;
        align-content: space-around;
    }

    img{
        display: inline;
        margin-right: 5px;
        height: 22px;
        line-height: 0;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
}