.searchbutton{
    height: 40px;
    border: none;
    padding-right: 1.5em;

    div{
        display: flex;
        vertical-align: middle;
        align-content: space-around;
        position: relative;
        padding-left: 26px;
    }

    img{
        display: inline;
        margin-right: 5px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
}