body, html{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    background-color: #fbfbfb;
}
main{
    width: 800px;
    margin: 3em auto;
}
h1{
    font-size: 1.5em;
}
input[type="text"]{
    border-radius: $borderRadius;
    border: $borderStyle;
    padding: $basePadding/2;
}
::placeholder{
    font-style: italic;
}