body, html{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    background-color: #fbfbfb;
}
main{
    width: 800px;
    margin: 0 auto;
}
input[type="text"]{
    border-radius: $borderRadius;
}
::placeholder{
    font-style: italic;
}