.button{
    height: 40px;
    display: inline-block;
    color: #fff;
    font-size: 1.25em;
    cursor: pointer;
    border-color: transparent;
    border-style: solid;
    background-color: $blue;
    border-radius: $borderRadius;
    padding:$basePadding/2 $basePadding;
}
.button:disabled,
.button[disabled]{
    pointer-events: none;
    background-color: #a8b5c5;
}